<button type="button"
        class="btn btn-success float-right add-btn"
        data-toggle="modal"
        data-target="#staticBackdrop"
        (click)="openDialog()">
  <i class="fas fa-plus"></i> Add
</button>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">
      Active
      <i class="fas"
        [ngClass]="{
          'active': sortingField === isActiveProperty,
          'fa-sort-amount-up': (sortingField === isActiveProperty && isUpDirection) || sortingField !== isActiveProperty,
          'fa-sort-amount-down': sortingField === isActiveProperty && !isUpDirection
         }"
        (click)="sortByProperty(isActiveProperty)"></i>
    </th>
    <th scope="col">
      Username
      <i class="fas"
         [ngClass]="{
          'active': sortingField === usernameProperty,
          'fa-sort-alpha-up': (sortingField === usernameProperty && isUpDirection) || sortingField !== usernameProperty,
          'fa-sort-alpha-down': sortingField === usernameProperty && !isUpDirection
         }"
         (click)="sortByProperty(usernameProperty)"></i>
    </th>
    <th scope="col">Email</th>
    <th scope="col">Name</th>
    <th scope="col">Age</th>
    <th scope="col" class="text-right">Account balance</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of usersList; index as i; trackBy:trackByUserId">
    <th scope="row">{{i + 1}}</th>
    <td><i class="fas fa-check" *ngIf="user.isActive"></i></td>
    <td class="username">{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.title}} {{user.firstName}} {{user.lastName}}</td>
    <td>{{user.birthday | yearsOld}}</td>
    <td class="text-right" [ngClass]="user.account?.balance < 0 ? 'text-danger' : 'text-success'">
      {{(user.account?.balance) | number: '1.2-2'}} {{user.account?.currency}}
    </td>
  </tr>
  </tbody>
</table>


